.head {
    width: auto;
    height: 40;
    background-color: rgb(22, 39,59);
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media screen and ( max-width: 800px) and (min-width: 1024px){

    .btn {
        display: block;
        font-size: 18px;
    }
    h1 {
        font-size: 32px;
        margin: 0 0 8px 0;
    }

    section {
        padding: 25px 0 15px 0;
    }
    .head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: 0 0 10px 0;
        font-size: 16px;
    }
    .head img {
        width: auto;
        min-width: 1024px;
        margin-block: 500px;
    }
}
section{
    color: rgb(22, 39,59);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(22, 39,59);
}
#Submit:hover {
    background-color:rgb(22, 39,59);
    color: white;
    border-radius: none;
}

footer{
    width: auto;
    height: 50px;
    background-color: rgb(22, 39,59);
    text-align: center;
    padding: 20px 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
